// ----------------------------------------
// // ------ Config for UI7 ------
// ----------------------------------------

// ----------------------------------------
// // ------ font-size ------
// ----------------------------------------

$font-size: 17px;
$line-height: 23px;
$font-weight: 300px;

// ----------------------------------------
// // ------ colors ------
// ----------------------------------------

$primary: #0088cc;      // blue
$secondary: #005580;    // dark-blue
$black: #272727;        // dark-grey
$gray: #808080;
$light-gray: #e5e5e5;
$muted: #808080;
$white: #ffffff;
